body {
  background: #212a2b url(../images/rick-and-morty-falling-out.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}

.App {
  & .header {
    height: 350px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    box-shadow: 10px 10px #39ff14;

    & .wrapper {
      padding: 25px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-family: myFont;
      font-size: 30px;

      & .logo-box {
        display: inline-block;
        height: 80%;
        width: 10%;
        padding: 20px;

        & img {
          height: 100%;
          width: 100%;
          border-radius: 50%;
        }
      }
      & h1 {
        margin-left: 10px;
        color: white;
      }
    }

    & .form {
      color: white;

      &__input-text {
        margin-left: 10px;
        margin-right: 20px;
        border-radius: 20px;
        color: black;
        padding-left: 30px;
      }
      &__input-text::placeholder {
        margin-left: 10px;
        margin-right: 10px;
        color: grey;
      }

      & .img-box {
        background-color: transparent;
        &:hover {
          transform: scale(1.5);
        }
      }

      & i {
        color: white;
      }
    }
  }
  & .ch-list {
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 1200px;
    margin-top: 50px;
    justify-content: center;

    & .ch-card {
      margin: 25px;
      background-color: white;
      height: 400px;
      width: 290px;
      text-align: center;
      font-family: $fontPrimary;
      box-shadow: 0px 0px 10px 10px #39ff14;

      &:hover {
        background-image: linear-gradient(315deg, #f9484a 0%, #fbd72b 74%);
        transform: scale(1.07);
        font-size: 18px;
      }

      & img {
        height: 75%;
        width: 100%;
      }
    }
  }

  & .modal {
    background-color: rgba(232, 232, 232, 0.9);
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    min-height: 1300px;
    display: flex;
    align-items: center;
    justify-content: center;

    &__dialog {
      height: 450px;
      width: 600px;
      box-shadow: 0px 0px 10px 10px #e256e9;
    }
    &__header {
      background-color: black;
      color: white;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      padding: 20px;
      font-family: $fontPrimary;
      font-size: 30px;
    }
    &__details {
      padding: 30px;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      background-image: linear-gradient(#f7d606, #23f519, #e256e9);
    }

    & .card__img {
      border-radius: 50%;
    }
    & .ch-details {
      font-family: $fontPrimary;
      font-size: 20px;
    }
  }
}
