body {
  background: #212a2b url(../images/rick-and-morty-falling-out.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  min-height: 100vh;
}

.App {
  & .wrapper {
    padding: 15px;
    //       display: flex;
    //       align-items: center;
    //       justify-content: center;
    //       font-family: myFont;
    //       font-size: 30px;
  }

  & .header {
    // height: 200px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    box-shadow: 5px 5px 5px 10px #39ff14;
    font-family: myFont;
    font-size: 20px;

    & .logo-box {
      display: inline-block;
      padding: 20px;

      // height: 50px;
      @include tablet {
        width: 50%;
      }
      & img {
        height: 100%;
        width: 100%;
        border-radius: 50%;
      }
    }

    & h1 {
      margin-left: 10px;
      color: white;
    }

    & .form {
      color: white;

      &__input-text {
        margin-left: 10px;
        margin-right: 20px;
        border-radius: 20px;
        color: black;
        padding-left: 30px;

        &__input-text::placeholder {
          margin-left: 10px;
          margin-right: 10px;
          color: grey;
        }
      }
    }

    & .img-box {
      background-color: transparent;
      height: 0px;
      &:hover {
        transform: scale(1.2);
      }
      & i {
        color: white;
      }
    }
  }
}

.ch-list {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  align-items: center;

  @include tablet {
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 1200px;
    margin-top: 50px;
    justify-content: center;
  }

  & .ch-card {
    margin: 25px;
    background-color: white;
    height: 400px;
    width: 290px;
    text-align: center;
    font-family: $fontPrimary;
    box-shadow: 0px 0px 10px 10px #39ff14;

    &:hover {
      background-image: linear-gradient(315deg, #f9484a 0%, #fbd72b 74%);
      transform: scale(1.07);
      font-size: 18px;
    }
    & img {
      height: 75%;
      width: 100%;
    }
  }
}

.modal {
  background-color: rgba(232, 232, 232, 0.9);
  position: absolute;
  left: 0;
  top: 0;
  min-height: 950px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;

  &__dialog {
    width: 340px;
    box-shadow: 0px 0px 10px 10px #e256e9;
  }
  &__header {
    background-color: black;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 20px;
    font-family: $fontPrimary;
    font-size: 15px;
    @include desktop {
      font-size: 30px;
    }
  }
  &__details {
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-image: linear-gradient(#f7d606, #23f519, #e256e9);
    @include desktop {
      flex-direction: row;
      justify-content: space-around;
    }
  }

  & .card__img {
    border-radius: 50%;
  }

  & .ch-list {
    display: flex;
    flex-direction: column;
    text-align: center;

    & .ch-details {
      font-family: $fontPrimary;
      font-size: 15px;
      margin-top: 10px;
      @include tablet {
        font-size: 20px;
      }
    }
  }
}

.error {
  background-color: rgba(232, 232, 232, 0.9);
  position: absolute;
  left: 0;
  top: 0;
  min-height: 950px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  &__header {
    background-color: black;
    color: white;
    padding: 20px;
    font-family: $fontPrimary;
    font-size: 20px;
    @include desktop {
      font-size: 30px;
    }
  }
  &__details {
    font-size: $fontPrimary;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-image: linear-gradient(#f7d606, #23f519, #e256e9);
    font-size: 12px;
    @include desktop {
      font-size: 17px;
    }
  }
}
.card__btn {
  margin-top: 10px;
  padding: 5px;
  display: inline-block;
  height: 30px;
  border-radius: 5px;
  background-color: white;
  box-shadow: 0px 0px 5px 5px lime;
}
.error-box {
  background-color: rgba(255, 255, 255, 0.7);
  box-shadow: 5px 5px 5px 10px #39ff14;
  font-family: myFont;
  font-size: 30px;
}
